@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ez8sx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ez8sx#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ez8sx') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ez8sx') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ez8sx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon:before,
.icon:after{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-engine {
  &:before {
    content: $icon-engine;
  }
}
.icon-external {
  &:before {
    content: $icon-external;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-internet {
  &:before {
    content: $icon-internet;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-ai {
  &:before {
    content: $icon-ai;
  }
}
.icon-cloud_service {
  &:before {
    content: $icon-cloud_service;
  }
}
.icon-motor_status {
  &:before {
    content: $icon-motor_status;
  }
}
.icon-sound_waves {
  &:before {
    content: $icon-sound_waves;
  }
}