/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin-left: 20px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        //display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 30px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: $indexColor;
    z-index: 1;
    opacity: .7;
    overflow: hidden;
    &:before {
        font-size: 60px;
        line-height: 1;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &:hover{
        transition: all .3s;
        opacity: 1;
    }
    &:hover,
    &:focus{
        outline: none;
    }
}
.slick-prev {
    left: -40px;
    &:before {
        content: "〈";
        position: relative;
        right: 30px;
    }
}
.slick-next {
    right: -40px;
    &:before {
        content: "〉";
        position: relative;
        left: 1px;
    }
}