//colors
$bgColor: #1c1c1c;
$bgColorLight : #2a2a2a;
$credentialsFont : #323232;
$indexColor: #ff5c00;
$indexColorHover: #fa7124;
$white: #ffffff;

$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;

//icon font
$icomoon-font-family: "a-Gnostics_icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-engine: "\e900";
$icon-external: "\e901";
$icon-mail: "\e902";
$icon-internet: "\e903";
$icon-facebook: "\e904";
$icon-linkedin: "\e905";
$icon-ai: "\e906";
$icon-cloud_service: "\e907";
$icon-motor_status: "\e908";
$icon-sound_waves: "\e909";