html,
body {
    height: 100%;
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
	color: #aaa;
}

.w-top{
    padding: 4vh 2vh 0 2vh;
}
.w-middle{
    height: calc(100vh - (270px + 4vh));
    /* width: calc(100vh - 286px); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.w-bot{
    display: flex;
    justify-content: space-between;
    padding: 0 2vh 2vh 2vh;
    align-items: flex-end;
}
.se-logo img{
    width: 200px;
}
.description{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
    color: #fff;
    text-align: justify;
    left: calc(50% - 300px);
    width: 600px;
}
.history_heading{
    margin: 40px auto 20px;
}

.button{
    margin: 10px 0;
}
.button:last-child{
    margin-bottom: 0;
}
.button a {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    font-weight: 300;
    transition: 0.3s ease-in;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #fe8c00 0%, #ff5c00 51%, #fe8c00 100%);
	color: #fff;
	text-decoration: none;
}
.button a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.header {
    position: absolute;
    top: calc(50% - 37px);
    left: calc(50% - 175px);
    width: 350px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
}
#firstIcon{
    width: 150px;    
}
#secondIcon{
    width: 150px;
}

.icons-l{
	font-size: 0.8em;
    bottom: 40px;
    left: 10px;
    color: #111111;
}
.icons-l a{
    color: #111111;
}
#firstIcon img{
    width: 100%;
    opacity: 0;    
    margin-left: -500px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}
#secondIcon img{
    width: 100%;
    opacity: 0;
    margin-left: -50px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.firstVisibleIcon img{
    opacity: 1!important;
    margin-left:0!important;
}
.secondVisibleIcon img{
    opacity: 1!important;    
    margin-left:0!important;
}
/*body {
    overflow: hidden;
}*/

.circle {
    z-index: 999;
    position: relative;
    background: url(../images/industrial-ai-a-gnostics.jpg) no-repeat;
    background-size: 100%;
    background-position: 30% 75%;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    overflow: visible;
    margin: 1% 0;
}

.circle:before,
.circle:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

/*
    background: rgba(64,64,64,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(64,64,64,1) 0%, rgba(64,64,64,1) 18%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(64,64,64,1)), color-stop(18%, rgba(64,64,64,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(64,64,64,1) 0%, rgba(64,64,64,1) 18%, rgba(28,28,28,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(64,64,64,1) 0%, rgba(64,64,64,1) 18%, rgba(28,28,28,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(64,64,64,1) 0%, rgba(64,64,64,1) 18%, rgba(28,28,28,1) 100%);
    background: radial-gradient(ellipse at center, rgba(64,64,64,1) 0%, rgba(64,64,64,1) 18%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#1c1c1c', GradientType=1 );

orange rgba(255, 92, 0, 0.6)*/

.circle:before {
    box-shadow: inset 0 25px 0 rgba(242, 242, 242, 0.6), inset 25px 0 0 rgba(178, 178, 178, 0.6), inset 0 -25px 0 rgba(103, 103, 103, 0.6), inset -25px 0 0 rgba(55, 55, 55, 0.6);
    animation: counterclockwise 7.5s -2.5s linear infinite;
}

.circle:after {
    box-shadow: inset 0 25px 0 rgba(255, 92, 0, 0.74), inset 25px 0 0 rgba(244, 118, 47, 0.6), inset 0 -25px 0 rgba(247, 147, 90, 0.6), inset -25px 0 0 rgba(255, 184, 143, 0.6);
    animation: clockwise 7.5s -2.5s linear infinite;
}



/* ====================== Nikandrov's styles ========================= */

/* ========== CARD__SHOW SECTION ========= */

/* .appearing_section {
    opacity: 0;
    transform: scale(85%);
    transition: 2s;

    color: green;
}

.appearing_section .show_appearing {
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
} */


/* =================================================================== */


@keyframes clockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1.05) scaleY(1.05);
    }
    50% {
        transform: rotateZ(180deg) scaleX(1.1) scaleY(1.1);
    }
    100% {
        transform: rotateZ(360deg) scaleX(1.05) scaleY(1.05);
    }
}

@keyframes counterclockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1.05) scaleY(1.05);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(1.1) scaleY(1.1);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1.05) scaleY(1.05);
    }
}

/*TODO add adaptive for layout{
    top: calc(75% - 35vh);
left: calc(75% - 35vh);
}*/

@media screen and (max-width: 1700px) {
    .circle{
        width: 400px;
        height: 400px;
    }
} 
@media screen and (max-width: 1024px) {
    .description{
        font-size: 14px;
    }
    .button{
        font-size: 16px;
    }
    .icons-l{
        font-size: 10px;
    }
    .circle{
        width: 350px;
        height: 350px;
    }   
}
@media screen and (max-width: 768px){
    .w-top{
        text-align: center;
    }
    .w-middle {
        height: calc(100vh - (350px + 4vh));
    }
    .w-bot {
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }

    .description {
        order: 1;
        width: 95%;
    }
    .w-buttons{
        margin: 5px 0;
        order: 2;
    }
    .button{
        text-align: center;
    }
    .icons-l{
        order: 3;
    }
    body{
        height: auto;
        overflow: visible;
    }
}
@media screen and (max-width: 740px) {

    #firstIcon, #secondIcon {
        width: 75px;
    }

    

    .header {
        font-size: 1em;
        letter-spacing: 2px;
        width: 150px;
        left: calc(50% - 75px);
    }

    .w-middle {
        height: auto;
        margin: 35px 0;
    }

    .circle:before {
        box-shadow: inset 0 15px 0 rgba(242, 242, 242, 0.6), inset 15px 0 0 rgba(178, 178, 178, 0.6), inset 0 -15px 0 rgba(103, 103, 103, 0.6), inset -15px 0 0 rgba(55, 55, 55, 0.6);
    }

    .circle:after {
        box-shadow: inset 0 15px 0 rgba(255, 92, 0, 0.74), inset 15px 0 0 rgba(244, 118, 47, 0.6), inset 0 -15px 0 rgba(247, 147, 90, 0.6), inset -15px 0 0 rgba(255, 184, 143, 0.6);
    }
}
@media screen and (max-width: 500px) {
    

    #firstIcon, #secondIcon {
        width: 75px;
    }

    .circle {
        width: 250px;
        height: 250px;
    }

    .header {
        font-size: 1em;
        letter-spacing: 2px;
        width: 150px;
        left: calc(50% - 75px);
    }

    .w-middle {
        height: auto;
        margin: 35px 0;
    }

    
}
@media screen and (max-width: 425px){
    .description{
        width: 100%;
    }
    #firstIcon,#secondIcon{
        width: 75px;
    }
    .circle{
        width: 250px;
        height: 250px;
    }
    .header{
        font-size: 1em;
        letter-spacing: 2px;
        width: 150px;
        left: calc(50% - 75px);
    }
    .w-middle{
        height: auto;
        margin: 35px 0;
    }
    
}
@media screen and (max-width: 375px){
    
    .circle{
        width: 230px;
        height: 230px;
    }
   
}
@media screen and (max-width: 330px){

    .button a {
        font-size:12px;       
    }
    .circle {
        width: 190px;
        height: 190px;
    }
}
@media screen and (max-width: 300px){

    
    .circle {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 275px){
    .header {
        font-size:14px;
    }

    .circle {
        width: 170px;
        height: 170px;
    }
}
@media screen and (max-width: 250px){
    .header {
        font-size:14px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }
    .button a {
        font-size: 10px;
    }
}

